*,*:before,*:after{
  box-sizing:border-box;
}
a{
  display:block;
  text-decoration: none;
  font-weight: bold;
}
img{
  max-width:100%;
  height:auto;
}
h1{
  font-family: $primary-font;
}
h4{
  font-size: 18px;
}
h1,h2,h3,h4,th{
  font-weight: bold;
}
h1,h2,h3,h4,h5,h6,li,p,td,th,input,button,textarea{
  font-family: $primary-font;
  line-height: 1.5;
}
textarea{
  resize:none;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.prpl20{
  padding: 0px 20px;
}
.flex{
  display: flex;
}
.jcsb{
  justify-content: space-between;
}

