.wrap{
  position: relative;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0px 20px;
}

.aside{
  display:none;
  @include phone(){
    display:block;
    position:absolute;
    z-index:20;
    top:58px;
    bottom:0;
    right:0;
    background:$primary-color;
    li a{
      padding: 16px 20px;
      color:white;
      &:active{
        background:white;
        color:$primary-color;
      }
    }
  }
}

.header {
  .media {
    .container {
      padding: 5px 6px;
      display: flex;
      justify-content: flex-end;
      background: $third-color;
      .media_fb {
        margin-right: 6px;
        border-right: 1px solid $secondary-color;
        a {
          color: #45609e;
          margin-right: 6px;
          img {
            margin-right: 2px;
          }
        }
      }
      .media_twitter {
        a {
          color: #02adf6;
          img {
            margin-right: 2px;
          }
        }
      }
    }
  }
  .nav {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav_logo {
      padding-left: 20px;
    }
    .nav_menu {
      display: flex;
      li {
        a {
          padding: 16px 22px;
          color: $primary-color;
          border-bottom: 2px solid transparent;
          position: relative;
          &:hover,
          &.active {
            border-bottom: 2px solid $primary-color;
          }
        }
        > .dropDown_open {
          display: none;
          position: absolute;
          z-index: 10;
          li a {
            background: white;
            font-weight: normal;
            text-align: center;
            &:hover {
              background: $primary-color;
              color: white;
            }
          }
        }
      }
    }
  }
  .banner {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    .swiper {
      width: 100%;
      height: 50%;
    }
    .banner_title {
      background: rgba($color: #000000, $alpha: 0.3);
      padding: 36px 20px;
      position: absolute;
      z-index: 10;
      top: 176px;
      width: 100%;
      h1 {
        font-size: 32px;
        color: white;
        line-height: 1.5;
      }
    }
  }
  @include pad() {
    .banner {
      .banner_title {
        top: 130px;
      }
    }
  }
  @include phone() {
    .media{
      display:none;
    }
    .banner {
      .banner_title {
        top: 80px;
      }
    }
  }
  @include iphoneXR(){
    .banner{
      .banner_title{
        top:56px;
        padding: 18px 20px;
        h1{
          font-size: 28px;
        }
      }
    }
  }
}

.course {
  margin: 62px 0px;
  display: flex;
  justify-content: space-between;
  .course_item {
    width: 30%;
    box-shadow: 1px 1px 3px $secondary-color;
    border-radius: 5px;
    padding: 24px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .html {
      margin: 24px 0px 14px 0px;
    }
    .RWD {
      margin: 42px 0px 50px 0px;
    }
    .jQuery {
      margin: 34px 0px 22px 0px;
    }
    h4 {
      font-weight: bold;
      margin: 14px 10px;
    }
    p {
      text-align: justify;
    }
  }
  @include pad() {
    .course_item {
      width: 32%;
      p {
        text-align: left;
      }
    }
  }
  @include phone() {
    flex-wrap: wrap;
    .course_item {
      width: 76%;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }
  @include iphoneXR(){
    .course_item{
      width:88%;
    }
  }
}

.compare {
  margin-bottom: 62px;
  h3 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 30px;
  }
  .pure-table {
    border: none;
    width: 100%;
    tbody tr:hover {
      background: lighten($primary-color, 50%);
    }
    td,
    th {
      padding: 8px 22px;
    }
    .highlight {
      color: $primary-color;
    }
  }
  @include iphoneXR(){
    .pure-table{
      .m-none{
        display: none;
      }
    }
  }
}

.contact {
  background: linear-gradient(
    darken($primary-color, 20%),
    darken($primary-color, 10%)
  );
  padding: 38px 20px 26px 20px;
  h2 {
    font-size: 22px;
    margin-bottom: 32px;
    color: white;
    text-align: center;
  }
  .pure-form-stacked {
    display: flex;
    justify-content: space-between;
    .pure-input-1-2 {
      width: 48%;
    }
    .contact_info {
      width: 48%;
      label {
        color: white;
        margin-bottom: 6px;
      }
      .pure-u-23-24 {
        width: 100%;
        margin-bottom: 16px;
      }
      .pure-button-primary {
        padding: 8px 20px;
        float: right;
      }
    }
  }  
}

.footer {
  margin: 24px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .footer_info {
    li {
      span {
        color: #e72d71;
      }
    }
  }
  @include iphoneXR(){
    .footer_logo{
      display: none;
    }
  }
}

.top {
  a {
    background: $primary-color;
    color: white;
    padding: 16px 18px;
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 20px;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    margin: 10px;
  }
}
